
{% extends 'base.html.twig' %}

{% block title %}{{ titre}}| {{ parent() }}{% endblock %}

{% block body %}
<h1>{{titre}}</h1>
<div class="col-4">
{# table>thead>tr>th*3^^tbody>tr>td*3 #}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Prénom</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
    {% for p in personnes %}
        <tr>
            <td>{{loop.index0}}</td>
            <td>{{p.prenom}}</td>
            <td>{{p.nom}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}