{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}

<div class="container">    
<div class="col-8">  
<h1>{{ titre }}</h1>

<table class="table table-striped">
<thead>
 <tr>
    <th>titre</th>
    <th>Année</th>
    <th>Réalisateur</th>
    <th colspan="4">Action</th>
 </tr>
</thead>
<tbody>
{% for film in films%}
    <tr>
        <td>{{ film.titre}}</td>
        <td>{{ film.annee}}</td>
        <td>{{ film.realisateur}}</td>
        <td>
        <a href="{{ path('app_film_detail',{'id':film.id} )}}" class="btn btn-primary"> 
        <i class="fa fa-eye"></i>
        </a>
        </td>
        <td>
        <a href="#" class="btn btn-secondary"> 
        <i class="fa fa-edit"></i>
        </a>
        </td>
        <td>
        <a href="{{ path('app_film_delete',{'id':film.id} )}}" class="btn btn-danger"> 
        <i class="fa fa-trash"></i>
        </a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
<br><br>

<a href="{{ path('app_film_ajouter') }}" class="btn btn-success mb-3">
<i class="fa fa-plus"></i>
</a>
</div>
</div>
{% endblock %}
