{% extends 'base.html.twig' %} {% block title %}{{ titre }}| {{ parent() }}{%
endblock %} {% block body %}
<h1>{{ titre }}</h1>
<div class="col-4">
  {{ form_start(filmForm) }}

  {{ form_widget(filmForm) }}
  <button type="submit" class="btn btn-primary">Valider</button>
  {{ form_end(filmForm) }}
</div>
{% endblock %}
